.textColorPrimary {
  color: #2675ec;
}

.barContainer {
  height: 100%;
  width: 450px;
  padding: 0px 30px 3%;
  box-shadow: 20px 0px 20px rgba(126, 152, 223, 0.05);
  overflow: auto;
  border-right: 1px solid #e5e5e5;
  scrollbar-width: none;
}

.barContainer::-webkit-scrollbar {
  display: none;
}

.headBar {
  /* position: relative; */
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 99;
  background-color: #ffffff;
}

.headBar h1 {
  font-size: 29px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friesMenu {
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
  cursor: pointer;
}

.fries1 {
  width: 22px;
}

.fries1,
.fries2 {
  background-color: #2675ec;
}

.fries1,
.fries2 {
  height: 3.3px;
  border-radius: 10px;
}

.fries2 {
  width: 13.2px;
  margin: 4.4px 0px;
  transition: width 0.3s ease-in-out;
}

.friesMenu:hover .fries2 {
  width: 100%;
}

.show {
  display: inline-block !important;
}

.collapseMenu {
  display: none;
  position: absolute;
  width: 200px;
  top: 70px;
  right: 0;
  border-radius: 35px 10px 35px 35px;
  padding: 4% 10%;
  background-color: #2675ec;
  z-index: 99;
  color: #ffffff;
  font-size: 12px;
}

.collapseMenu .menu {
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 15px;
}

.collapseMenu .menu:hover {
  background-color: rgba(26, 94, 197, 0.699);
}

.collapseMenu .mIcon {
  width: 70%;
}

.collapseMenu .mIconS {
  width: 80%;
  margin-right: 7px;
}

.collapseMenu .menu:not(:last-child) {
  margin-bottom: 2px;
}

.searchBar {
  position: relative;
  margin: 10px 0px 20px 0px;
}

.searchIcon {
  position: absolute;
  left: 20px;
}

.plusIcon {
  position: absolute;
  right: 0;
  border-radius: 50%;
  width: 45px;
  padding: 4%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.plusIcon:hover {
  background-color: rgb(241, 241, 241);
}

.searchBar input {
  border-style: none;
  padding: 0px 10% 0px 20%;
  height: 60px;
  width: 100%;
  border-radius: 15px;
  outline: none;
}

.searchBar:focus {
  outline: none !important;
}

.chatList {
  height: 100%;
  padding: 10px 0px;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.chatList::-webkit-scrollbar {
  display: none;
}
