/* .container {
  height: 100vh;
} */

.emptyChat {
  border: 1px solid rgb(224, 224, 224);
  display: grid;
  place-items: center;
  background-color: #f7f7f7;
  font-size: 24px;
  color: #848484;
}
