.mainContainer {
  height: 100vh;
  width: 100vw;
}

.chatContainer {
  height: 100%;
  width: 100%;
}

.emptyChat {
  font-size: 18px;
  color: #848484;
}

.chatContents {
  height: 80%;
  width: 100%;
  padding: 2% 5% 12%;
  overflow: auto;
  background-color: #f5f5f5;
}

.chatTxtContainer {
  color: #ffffff;
  padding: 2% 4%;
  width: fit-content;
}

.sender {
  background-color: #70a1eb;
  border-radius: 24px 24px 24px 6px;
}

.receiver {
  background-color: #2675ec;
  border-radius: 24px 24px 6px 24px;
}
