.textColorPrimary {
  color: #2675ec;
}

.hide {
  display: none !important;
}

.barContainer {
  position: absolute;
  right: 0;
  width: 400px;
  height: 100vh;
  padding: 0px 30px 3%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  box-shadow: -20px 0px 20px rgba(126, 152, 223, 0.05);
  border-left: 1px solid #e5e5e5;
  z-index: 100;
  scrollbar-width: none;
}

.barContainer::-webkit-scrollbar {
  display: none;
}

.headBar {
  /* position: relative; */
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #ffffff;
}

.headBar h2 {
  font-size: 24px;
}

.chevronRight {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.profileContainer {
  margin-top: 12px;
}

.tabulate {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: none;
}

.tabulate::-webkit-scrollbar {
  display: none;
}

.profileContainer .avatar {
  width: 82px;
  border-radius: 32px;
  text-align: center;
  margin: 0px 0px 25px;
}

.IChat {
  cursor: pointer;
}

.detailInfo .name {
  font-size: 22px;
}

.detailInfo .phone {
  font-size: 18px !important;
}

.navigation {
  margin-top: 60px;
}

.navigation ul {
  padding: 0;
}

.navigation ul li {
  color: #232323;
  padding: 4% 7%;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}

.active {
  color: #ffffff !important;
  background-color: #2675ec;
  border-radius: 20px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
