.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container h1 {
  font-size: 4rem;
}

.container button {
  width: 200px;
  border-radius: 12px;
}
